<div class="container">
  
  <% if @genre.errors.any? %>
    <%= @genre.errors.count %>件のエラーが発生しました
    <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="row">
    <span>ジャンル編集</span>
  </div>
  
  <div class="row">  
    <%= form_with model: [:admins, @genre] do |f| %>
      <table>
        <td>
          <%= f.label "ジャンル名" %>
        </td>
        <td>
          <%= f.text_field :name %>
        </td>
      </table>
      <div class="text-right">
        <%= f.submit "変更を保存", class: "btn btn-success mr-3" %>
        <%= link_to "戻る", admins_genres_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
