<div class="container">
  <div class="row">
　  <div class="mx-auto my-4">
	    <h2 class="border border-dark p-3">ゲームジャンル一覧・追加</h2>
	  </div>
  </div>
  
  <div class="row">
    <div class="col-4">
      <div class="mx-auto">
        <div class="mx-auto text-center">
	        <h3 class="border border-dark p-3">ジャンル追加</h3>
	      </div>
	      
        <div class="mx-auto w-75 my-4">    
          <% if @genre.errors.any? %>
            <%= @genre.errors.count %>件のエラーが発生しました
            <ul>
              <% @genre.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          
          <%= form_with model: [:admins, @genre] do |f| %>
            <div class="form-group">
              <%= f.label :"ジャンル名" %><br />
              <%= f.text_field :name, class: "form-control", placeholder: "ジャンル名" %>
            </div>
            <div>
              <%= f.submit "新規登録", class: "btn btn-outline-success btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="col-8">
      <div class="mx-auto text-center">
	      <h3 class="border border-dark p-3">ジャンル一覧</h3>
	    </div>
	    
	    <div class="mx-auto w-75 my-4">
	      <table class="table">
	        <thead class="bg-light">
            <th>ジャンル名</th>
            <th></th>
          </thead>
          <tbody class="p-auto">
            <tr>
  	          <% @genres.each do |genre| %>
  	            <tr>
                  <td>
                    <%= genre.name %>
                  </td>
                  <td>
                    <%= link_to "編集する", edit_admins_genre_path(genre.id), class: "btn btn-outline-success" %>
                  </td>
                </tr>
              <% end %>
            </tr>
          </tbody>
        </table>
	    </div>
	  </div>
  </div>
</div>
