<div class="container">
  <div class="row">
　  <div class="mx-auto my-4">
	  <h2 class="border border-dark p-3">管理者側会員詳細</h2>
	</div>
  </div>
  
  <div class="row">
    <div class="col-4">
      <div class="mx-auto text-center">
        <h3 class="border border-dark p-3">会員情報</h3>
      </div>
  
      <table class="table table-bordered my-4">
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= @customer.user_name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @customer.is_deleted == false %>
              <p class="font-weight-bold text-success">有効</p>
            <% else %>
              <p class="font-weight-bold text-danger">退会済</p>
            <% end %>
          </td>
        </tr>
      </table>
      
      <div>
        <%= link_to "編集する", edit_admins_customer_path(@customer.id), class: "btn btn-outline-dark btn-lg btn-block" %>
      </div>
    </div>
    
    <div class="col-8">
      <div class="mx-auto text-center">
	    <h3 class="border border-dark p-3">投稿一覧</h3>
	  </div>
	    
	  <div class="mx-auto my-4">
	    <table class="table">
	      <thead class="bg-light">
            <th class="text-center">ゲームタイトル</th>
            <th class="text-center">件名</th>
            <th class="text-center">ゲームジャンル</th>
            <th class="text-center">投稿ステータス</th>
          </thead>
      　　<tbody class="p-auto">
        　　<tr>
            　<% @posts.each do |post| %>
              　<tr>
              　　<td class="text-center">
            　　　　    <%= link_to post_path(post.id) do %>
                  　　<%= post.name %>
                　　<% end %>
              　　</td>
              　　<td class="text-center">
                　　<%= post.subject %>
              　　</td>
              　　<td class="text-center">
                　　<%= post.genre.name %>
              　　</td>
              　　<td class="text-center">
                　　<% if post.is_active == true %>
                  　　<p class="font-weight-bold text-success">公開中</p>
                　　<% else %>
                  　　<p class="font-weight-bold text-black-50">非公開</p>
                　　<% end %>
              　　</td>
            　　</tr>
          　　<% end %>
        　　</tr>
      　　</tbody>
    　　</table>
	  </div>
	</div>
  </div>
</div>
