<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <!-- ヘッダーロゴ部分 -->
    <div class="navbar-brand">
      <h1 class="text-light">Game Value</h1>
    </div>
    
    <div>
      <%= render "customers/searches/search" %>
    </div>
    
    <!-- ヘッダーメニュー部分 -->
    <ul class="navbar-nav ml-auto">
      <!-- 会員ログイン時 -->
      <% if customer_signed_in? %>
        <div class="btn-group">
          <%= link_to customer_path(current_customer.id), class:"nav-item btn btn-outline-light" do %>
            <li>マイページ</li>
          <% end %>
          <%= link_to new_post_path, class:"nav-item btn btn-outline-light" do %>
            <li>新規投稿</li>
          <% end %>
          <%= link_to posts_path, class:"nav-item btn btn-outline-light" do %>
            <li>投稿一覧</li>
          <% end %>
          <%= link_to destroy_customer_session_path, method: :delete, class:"nav-item btn btn-outline-light" do %>
            <li>ログアウト</li>
          <% end %>
        </div>
      <!-- 管理者ログイン時 -->
      <% elsif admin_signed_in? %>
        <div class="btn-group">
          <%= link_to admins_posts_path, class:"nav-item btn btn-outline-light" do %>
            <li>投稿一覧</li>
          <% end %>
          <%= link_to admins_customer_index_path, class:"nav-item btn btn-outline-light" do %>
            <li>会員一覧</li>
          <% end %>
          <%= link_to admins_genres_path, class:"nav-item btn btn-outline-light" do %>
            <li>ジャンル一覧</li>
          <% end %>
          <%= link_to destroy_admin_session_path, method: :delete, class:"nav-item btn btn-outline-light" do %>
            <li>ログアウト</li>
          <% end %>
        </div>
    　<!-- 非ログイン時 -->
      <% else %>
        <div class="btn-group">
          <%= link_to root_path, class:"nav-item btn btn-outline-light" do %>
            <li>Topページ</li>
          <% end %>
          <!-- %= link_to about_path, class:"nav-item btn btn-outline-light" do % -->
            <!-- <li>About</li> -->
          <!-- % end % -->
          <%= link_to customers_guest_sign_in_path, class:"nav-item btn btn-outline-light", method: :post do %>
            <li>ゲストログイン</li>
          <% end %>
          <%= link_to new_customer_registration_path, method: :get, class:"nav-item btn btn-outline-light" do %>
            <li>新規登録</li>
          <% end %>
          <%= link_to customer_session_path,method: :get, class:"nav-item btn btn-outline-light" do %>
            <li>ログイン</li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </nav>
</div>
